<div class="loginComponent">
  <div class="container"> 
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="avatarFrameOfline martop15 marbot15">
          <img class="avatarImage img-fluid" src="assets/img/generic_avatar.png " alt="">  
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="center">
          <h3>Iniciar Sesión</h3>
          
         </div>
         <p *ngIf=" operation == 'register'"> Ya tienes cuenta? Has <a (click)="operation = 'login'"> Login</a></p>
         <p *ngIf=" operation == 'login'"> No tienes cuenta? <a (click)="operation = 'register'"> Registrarse</a></p>
         <div class="brodercontainer">
           <input class="form-control marbot15" type="email" placeholder="Ingrese Correo">
           <input class="form-control marbot15" type="password" placeholder="Ingrese contraseña">
           <input class="form-control marbot15" *ngIf="operation=='register'" type="text" placeholder="Ingrese Nick">
         </div>
         <div class="center marbot15">
          <a class="btn btn-primary" *ngIf="operation=='login'">Iniciar sesion</a>   
          <a class="btn btn-primary" *ngIf="operation=='register'">Registrarme</a>   
        </div>
      </div>
    </div>
  </div>
</div>
